@model IEnumerable<Somativa.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1 class="textocima">Compras</h1>

<p>
    <a asp-action="Create" class="btn adidi rounded-pill">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr class="d-flex">
            <th class="border-0 d-none d-sm-table-cell col-sm-2"></th>
            <th class="col-6 col-sm-5">
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th class="col-6 col-sm-5">
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-flex">
                <td class="border-0 d-none d-sm-table-cell col-2">
                    <a asp-action="Edit" asp-route-id="@item.CompraId" class="text-decoration-none">
                        <svg bootstrap-icon="PencilSquare" width="24" height="24" class="text-dark me-2 my-2"></svg>
                    </a>
                    <a asp-controller="CompraItems" asp-action="Index" asp-route-id="@item.CompraId" class="text-decoration-none">
                        <svg bootstrap-icon="Grid" width="24" height="24" class="text-dark me-2 my-2"></svg>
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#ModalTrash-@item.CompraId">
                        <svg bootstrap-icon="Trash" width="24" height="24" class="text-dark me-2 my-2"></svg>
                    </a>

                </td>
                <td class="col-6 col-sm-5">
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td class="col-6 col-sm-5">
                    @Html.DisplayFor(modelItem => item.DataHora)
                </td>
            </tr>
            <tr class="d-sm-none w-100 d-flex ">
                <td class="col-4 d-flex justify-content-center">
                    <a asp-action="Edit" asp-route-id="@item.CompraId">
                        <svg bootstrap-icon="PencilSquare" width="24" height="24" class="text-dark me-2 my-2"></svg>
                    </a>
                </td>
                <td class="col-4 d-flex justify-content-center">
                    <a asp-controller="CompraItems" asp-action="Index" asp-route-id="@item.CompraId">
                        <svg bootstrap-icon="Grid" width="24" height="24" class="text-dark me-2 my-2"></svg>
                    </a>
                </td>
                <td class="col-4 pe-0 d-flex justify-content-center ">
                    <a data-bs-toggle="modal" data-bs-target="#ModalTrash-@item.CompraId">
                        <svg bootstrap-icon="Trash" width="24" height="24" class="text-dark me-2 my-2"></svg>
                    </a>
                </td>
            </tr>
            <div class="modal fade" id="ModalTrash-@item.CompraId" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center border-0">
                            <h5 class="modal-title text-center volt px-5 py-1 fs">Apagar</h5>
                        </div>
                        <div class="modal-body text-center border-0">
                            <p class="text-dark fs-3 fst-normal">Tem certeza que deseja apagar os dados da @Html.DisplayFor(modelItem => item.Nota)?</p>
                        </div>
                        <div class="modal-footer d-flex justify-content-center border-0">
                            <form asp-action="Delete" asp-route-id="@item.CompraId" class="me-5">
                                <input type="hidden" asp-for="@item.CompraId" />
                                <button type="submit" class="btn apag text-white">Deletar</button>
                            </form>
                            <button data-bs-dismiss="modal" class="btn volt2 text-white">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
